
@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  .seu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

 
}
.carousel-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente (se necessário) */
  height: auto; /* Ajusta conforme o conteúdo */
  padding: 40px; /* Espaçamento ao redor */
}

.carousel-inner { 
  width: 100%; /* Ajuste esse valor para o tamanho desejado */
  max-width: 500px; /* Máximo que pode ocupar */
  height: auto;
}

.carousel-item img {
  width: 100%;
  height: auto; /* Mantém a proporção correta */
  object-fit: cover; /* Evita distorção */
  border-radius: 10px; /* Deixa as bordas arredondadas (opcional) */
}


body {
  background-color: #fff5f7;
  color: #6c757d;
}
.btn-btn-secondary-dropdown-toggle {
  background-color: #dc3545;
  color: white;

}
  .telainicial {
    background-color: #ff4d6d  ;
  }

.navbar {
  background-color: #fff5f7 !important; /* Cor vermelha do Bootstrap */
}

.navbar .nav-link {
  color: #8B0000 !important; /* Cor desejada */
  font-weight: bold; /* Deixa o texto mais forte */
}

.navbar .container {
  display: flex;
  align-items: center;
  gap: 10px; /* Ajuste o espaçamento entre a logo e o texto */
}

.btn btn-outline{
  background-color: #dc3545;
  color: white;

}
.navbar-nav .nav-link {
  color: #ff4d6d !important;
  font-weight: bold;
  padding: 10px;
}
.navbar-brand {
  display: flex;
  align-items: center; /* Alinha o ícone e o texto verticalmente */
  gap: 5px; /* Ajusta o espaço entre o logo e o nome */
}
.navbar-brand img {
  max-height: 150px; /* Ajuste para um tamanho adequado */
  width: 100px;
  height: 90%;
}
.novidades {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0px;
  color: #dc3545;
  padding: 30px;
  border-radius: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Remove a barra de rolagem */
  max-height: 100%; /* Garante que não fique maior do que deveria */

}
.card-img-top {
  height: 200px;  /* Defina um tamanho fixo */
  object-fit: cover; /* Garante que a imagem não distorça */
  width: 100%;  /* Mantém responsivo */
}

.card-body {
  flex-grow: 1; /* Faz o conteúdo expandir igualmente */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn-whatsapp {
  background-color: #25d366;
  color: white;
}

footer {
  background-color: #ff4d6d;
}
.logo {
  max-height: 50px; /* Redimensiona a logo para um tamanho mais adequado */
  width: auto;
}
html, body {
  overflow-x: hidden;
}
